@use "../abstracts" as *;

.aboutMe {
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  row-gap: 100px;
  column-gap: 5%;
  .aboutMeBio {
    display: flex;
    flex-direction: column;
    h2 {
      @include h2(24%);
    }
    p {
      font-size: 1.1rem;
      color: $textColor;
      line-height: 1.6;
      margin: 18px 0;
    }
  }
  .aboutMeImage {
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  .aboutMeToolkit {
    grid-column: 1 / 3;
    h2 {
      @include h2(18%);
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px auto 60px auto;
      padding: 20px 0;
      font-family: "Nanum Pen Script", "cursive";
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
        padding: 20px 0;
        width: 120px;
        text-align: center;
        img {
          width: 50px;
          margin-bottom: 5px;
        }
      }
    }
  }
}