@use "../abstracts" as *;

.contact {
  padding: 100px 0;
  background-color: $contactBackground;
  font-size: 1rem;
  .contactContainer {
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 10%;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    .contactInformation {
      display: flex;
      flex-direction: column;
      h2 {
        @include h2(93%);
        z-index: 0;
      }
      p {
        margin: 30px 0 20px 0;
        line-height: 1.6;
      }
      .contactIcons {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        li {
          font-size: 1.4rem;
          a {
            color: $complementaryColor;
          }
        }
      }
    }
    .contactForm {
      form {
        display: flex;
        flex-direction: column;
        input {
          padding: 10px;
          margin: 10px 0;
          border: 2px solid $textBoxShadow;
          border-radius: 5px;
        }
        textarea {
          height: 200px;
          padding: 10px;
          margin: 10px 0;
          border: 2px solid $textBoxShadow;
          border-radius: 5px;
          resize: none;
          font-family: inherit;
          font-size: inherit;
        }
        .hidden {
          &:not(:focus):not(:active) {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            clip-path: inset(100%);
          }
        }
        .submitContainer {
          .button {
            &:hover {
              border: 2px solid #ffd6d6;
            }
          }
        }
      }
    }
  }
}
