@use "../abstracts" as *;

.noteText {
    @include smallerText();
    color: $complementaryColor;
    font-size: 1.3rem;
    max-width: 1080px;
    width: 80%;
}

.projects {
  margin-top: 25px;
  margin-bottom: 100px;
  .projectsRow {
    @include projectsRow(6fr, 4fr);
    display: grid;
    column-gap: 3.5%;
    .projectsCard {
      display: flex;
      height: 400px;
      margin-bottom: 5%;
      img {
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
      }
      // &:nth-child(2) {
      //   margin-left: 32px;
      // }
    }
    .projectsOverlay {
      display: none;
    }
    &:nth-of-type(2) {
      @include projectsRow(4fr, 6fr);
    }
  }
}